extends layout

block scripts
  script(src='/javascripts/mootools.js')
  // script(src='/javascripts/mootools-uri.js')
  script(src='/javascripts/mootools-more.js')
  script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
  script(src='/javascripts/voyage.js')

block content
  section.voyage
    .row.another
      .large-12.columns
        p
          a(href='/new') Start another voyage?
    .row
      .large-12.large-centered.columns
        h2 Voyage To #{locals.name}
        h4.subheader #{locals.destination}
        .alert-box.secondary Bookmark this voyage @  
          a(href='/#{locals.token}/#{locals.current_user.token}') http://#{locals.uri}/#{locals.token}/#{locals.current_user.token}
    .row
      .large-6.columns
        h4 Your Information
        form(method='post', action='/#{locals.token}/#{locals.current_user.token}/save')
          if locals.current_user.name
            input(type='text', name='name', value='#{locals.current_user.name}', placeholder='Your Name', autocomplete="off")
          else
            input(type='text', name='name', placeholder='Your Name', autocomplete="off")
          if locals.current_user.location
            input(type='text', name='location', value='#{locals.current_user.location}', placeholder='Your Location', autocomplete="off")
          else
            input(type='text', name='location', placeholder='Your Location', autocomplete="off")
          .row
            .small-1.small-offset-4.columns
              if locals.current_user.driving
                input(type='checkbox', name='driving', autocomplete="off", checked)
              else
                input(type='checkbox', name='driving', autocomplete="off") 
            .small-7.columns
              label(for='driving') Driving?
          button.save Save Changes
          .row.save-alerts
        h4 Who else is coming?
        table
          thead
            tr
              th Name
              th Location
              th Driving?
          tbody
            each user in locals.users
              if user.name && user._id != locals.current_user._id
                tr
                  td #{user.name}
                  td #{user.location}
                  if user.driving
                    td Yes
                  else
                    td No

        .row.invitations
        if locals.current_user.owner
          form(method='post', action='/#{locals.token}/#{locals.current_user.token}/invite')
            button.invite Invite More
      .large-6.columns
        h4 Current Route
        if locals.routing
          script window.routes = !{locals.routing}
          #map-canvas
        if locals.directions
          .directions
            each direction in locals.directions
              hr
              h6.directions-header Directions for #{direction.name}
              .directions-list
                !{direction.directions}
  footer
    .row
      .large-12.small-centered.columns
        ul.inline-list
          p
            | With &hearts; from 
            a(href='//lehaozhang.com') Leo Zhang
            br
            a(href='/') Home